.indents {
  padding-top: 60px;
  padding-bottom: 25px;
}

.vertical-indent {
  padding: 25px 0;
}

.title {
  margin: 0;
  font-size: 36px;
  line-height: 43px;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.first {
  padding-bottom: 25px;
}

.main-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 60px;
  font-weight: 900;
  line-height: 72px;
}

.indents__text:not(:last-child) {
  margin-bottom: 30px;
}

.container-gray {
  border-radius: 10px;
  padding: 25px 45px;
  margin: 0 auto;
  max-width: 1140px;
  background-color: #f1f1f1;
}

.caption {
  font-size: 44px;
  font-weight: 700;
  line-height: 53px;
}

.menu__caption {
  margin-bottom: 20px;
}

.menu__item:not(:last-child){
  margin-bottom: 10px;
}

.menu__link {
  border-bottom: 1px solid currentColor;
  color: #02535f;
}

.second__title {
  margin-bottom: 30px;
}

.second__inner {
  display: inline-block;
  vertical-align: top;
}

.second__inner:first-of-type {
  margin-bottom: 30px;
}

.text-width {
  max-width: 480px;
}

.second__inner:nth-child(even) {
  margin-right: 30px;
}

.second__text:not(:last-child) {
  margin-bottom: 30px;
}

.third__title {
  margin-bottom: 30px;
}

.third__block:not(:last-child) {
  margin-bottom: 30px;
}

.image-block {
  text-align: center;
}

.image-block__descr {
  border: 1px solid #000;
  border-top: none;
  margin-top: -5px;
  padding: 15px 30px;
  text-align: left;
}

.fourth__title {
  margin-bottom: 30px;
}

.fourth__block:not(:last-child) {
  margin-bottom: 30px;
}

.conclusion__caption {
  margin-bottom: 20px;
}

.conclusion__list {
  margin-bottom: 30px;
  list-style-type: none;
}

.conclusion__item::before {
  content: "\2014";
  margin-right: 5px;
}



